
:focus {
  outline: 0;
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    font:1.2em normal Arial,sans-serif;
    color: #000;
    background-color: #939393;
    margin:0;
    padding:0;
}

a, a:link, a:hover, a:visited, a:active {
   color:inherit;
   text-decoration: none;
}

/**********************************************
***********************************************/

@font-face {
  font-family: Rouble;
  src:
    url('images/rouble.eot') format('eot'),
    url('images/rouble.otf') format('opentype');
}

span.rouble {
    font-family: Rouble;
}

p {
  font:1.1em normal Arial,sans-serif;
  color: #201b61;
}

p em {
  font:1.6em normal Arial,sans-serif;
  color: #9e2627;
}

p.large_text {
  font:1.6em normal Arial,sans-serif;
  color: #201b61;
}

p.small_text {
  font:0.6em normal Arial,sans-serif;
  color: #686666;
}

/**********************************************
***********************************************/

div {
  position: relative;
}

div#background {
  position: absolute;
  min-height: 100%;
  width: 1208px;
  left: 50%;
  margin-left: -604px;

  background-color: #fff;
  background-image: url(images/line.png);
  background-repeat: repeat-y;
}

/**********************************************
***********************************************/

div.header {
  height: 110px;
}

div.header #image {
  position: absolute; 
  top: 30px; 
  left: 170px; 
}

div.header #text {
  position: absolute; 
  top: 55px; 
  left: 100px;
  font:1.0em normal Arial,sans-serif;
  color: #000;
}

div.header #phone {
    position: absolute; 
    top: 30px; 
    right: 170px;
    font:1.6em normal Arial,sans-serif;
}

div.header #callback {
  position: absolute; 
  top: 75px; 
  right: 190px;
  cursor: pointer;
  font:1.0em normal Arial,sans-serif;
  width: 180px;
  height: 25px;
  background-color: #fced42;
  border-radius: 8px;
  border: 0px;
  padding: 5px;
}

div.header #social {
  position: absolute; 
  top: 30px; 
  left: 550px;
}

/**********************************************
***********************************************/

div#circles_promo_block {
  position: absolute;
  top: 42px;
  left: 105px;
}

div#circles_promo_block p#small {
  position: absolute;
  top:50px;
  left:35px;
}

div#circles_promo_block p#big {
  position: absolute;
  top:85px; 
  left:150px;

  font:1.4em normal Arial,sans-serif;
  color: #000;
  line-height: 2;
}

/**********************************************
***********************************************/

div#stats_block { height: 200px; }
div#stats_block p { line-height: 2; }
div#stats_block p em { font: 2.5em normal Arial,sans-serif; }

div#stats_block #left, #center, #right {
    top: 0px;
    position: absolute;
}
div#stats_block #left   { left: 15%;  }
div#stats_block #center { left: 45%; }
div#stats_block #right  { right: 18%; top: 15px; line-height: 1.1; }

/**********************************************
***********************************************/

div#unique_block { height: 200px; }
div#unique_block #left, #center, #right {
    top: 0px;
    position: absolute;
}
div#unique_block #left   { left: 18%;  }
div#unique_block #center { left: 41%; }
div#unique_block #right  { right: 18%; }
div#unique_block p { margin-top: 0px; }

/**********************************************
***********************************************/

div#reviews_block {
  height: 270px;
}

div#reviews_block #left,  #center, #right {
  position: absolute;
  top: 0px;
}
div#reviews_block #left   { left: 7%;  }
div#reviews_block #center { left: 37%; }
div#reviews_block #right  { right: 7%; }

div#reviews_block p {
  color: #000;
  font:0.8em normal Arial,sans-serif;
  width: 26%;
  text-align: justify;
}

/**********************************************
***********************************************/

div#details_block {
  height: 300px;
}

div#details_block #details_1, #details_2, #details_3, #details_4 {
  position: absolute;
  top: 0px;
}

div#details_block #arrow_1, #arrow_2, #arrow_3 {
  position: absolute;
  top: 63px;
}

div#details_block #details_1 { left: 130px; }
div#details_block #arrow_1   { left: 305px; }
div#details_block #details_2 { left: 400px; }
div#details_block #arrow_2   { left: 575px; }
div#details_block #details_3 { left: 670px; }
div#details_block #arrow_3   { left: 845px; }
div#details_block #details_4 { left: 940px; }

div#details_block #label {
  position: absolute;
  top: 42px;
  left: 50%;
}

div#details_block #label p {
  position: relative;
  left: -50%;
}

/**********************************************
***********************************************/

div#promo_block {
  width: 80%;
  height: 70px;
  margin: 20px auto;
  background-color: #e7772c;
  display: table;
  overflow: hidden;
  border-radius: 16px;
}

div#promo_block_text {
  display: table-cell;
  vertical-align: middle;
}

div#promo_block p {
  font:1.4em normal Arial,sans-serif;
  color: #000;
}

div#promo_block p em {
  font:1.5em normal Arial,sans-serif;
  color: #000;
}

/**********************************************
***********************************************/

div.send_request_vertical, div.send_request_horizontal {
  margin: 20px auto;
  padding: 10px;
  border-radius: 16px;
}

div.send_request_vertical {
  position: absolute; 
  top: 40px; 
  right: 100px; 
  width: 350px;
  background-color: rgba(229, 224, 220, .9);
}

div#callback_overlay {
  z-index:1001;
  display: none;
  position:fixed;

  background-color:#000;
  opacity:0.8;

  top:0;
  bottom:0;
  left:0;
  right:0;
}

div#callback_form {
  z-index: 1002;
  display: none;
  position: fixed;

  width: 350px;
  height: 320px;
  
  top:25%;
  bottom:0;
  left:0;
  right:0;
}

div#callback_form #close_callback_form {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

div.send_request_horizontal {
  width: 70%;
  height: 200px;
  background-color: #ccdcee;
}

div.send_request_horizontal .form_name {
  position: absolute;
  top: 75px; 
  left: 150px;
}

div.send_request_horizontal .form_phone {
  position: absolute;
  top: 75px; 
  right: 150px;
}

div.send_request_horizontal .post_result {
  position: absolute;
  top: 120px; 
  left: 300px;
}

div.send_request_horizontal .form_submit {
  position: absolute;
  top: 150px; 
  left: 330px;
}

input {
  font:1.2em normal Arial,sans-serif;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  border: 0px;
  padding: 0px;
  padding-left: 15px;
}

.post_result {
  margin: 0 auto;
  width: 250px;
  font: 0.7em normal Arial,sans-serif;
  color: #fff;
  background-color: #e11;
  border-radius: 7px;
  padding: 5px;
  display: none;
}

.form_submit {
  cursor: pointer;
  font:1.0em normal Arial,sans-serif;
  width: 200px;
  height: 50px;
  background-color: #fced42;
  border-radius: 8px;
  border: 0px;
  padding: 5px;
}
